<!--
---
archived_date: "2025-08-24"
archive_reason: "App-id migration to io.github.asafelobotomy.*; org.xanados.* hardened policy superseded"
replacement: "config/io.github.asafelobotomy.searchanddestroy.hardened.policy"
retention_period: "3 years"
archive_type: "superseded"
original_location: "config/org.xanados.searchanddestroy.hardened.policy"
migration_guide: "docs/deployment/FLATHUB_COMPLIANCE_HANDOFF.md"
---
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <!-- Hardened Security Policy for xanadOS Search & Destroy (LEGACY ORG) -->
  <vendor>xanadOS</vendor>
  <vendor_url>https://github.com/asafelobotomy/xanadOS-Search_Destroy</vendor_url>

  <action id="org.xanados.searchanddestroy.rkhunter.scan">
    <description>Run RKHunter rootkit scanner with scan operation only</description>
    <message>Authentication required to perform system rootkit scan</message>
    <icon_name>org.xanados.SearchAndDestroy</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/rkhunter</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--check</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>

  <action id="org.xanados.searchanddestroy.rkhunter.update">
    <description>Update RKHunter database</description>
    <message>Authentication required to update RKHunter database</message>
    <icon_name>org.xanados.SearchAndDestroy</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/rkhunter</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--update</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>

  <action id="org.xanados.searchanddestroy.rkhunter.version">
    <description>Check RKHunter version information</description>
    <message>Authentication required to check RKHunter version</message>
    <icon_name>org.xanados.SearchAndDestroy</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/rkhunter</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--version</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>

  <action id="org.xanados.searchanddestroy.kill">
    <description>Terminate RKHunter processes</description>
    <message>Authentication required to terminate system processes</message>
    <icon_name>org.xanados.SearchAndDestroy</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kill</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>

</policyconfig>
